mixin delicious 
    sections.delicious
        .delicious__content.container
            .delicious__left 
                .delicious__left-img
                    img(src="../../assets/images/deliciousLeft.png", alt="")
                .delicious__left-badge.have-badge
                    svg(width="178" height="178")
                        use(href="../../assets/icons/sprite.svg#weHave")  
            .delicious__right
                h2.delicious__right-title We make 
                    span.accent-text delicious
                .delicious__right-text Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and in 2022 we are ready to destroy the market
                .delicious__video
                    .delicious__video-preview
                        img(src="../../assets/images/deliciousPreview.png", alt="")
                    button.delicious__video-play.btn--green
                        svg(width="20" height="23" )
                            use(href="../../assets/icons/sprite.svg#play")
                        div.delicious__video-text Cooking Process