mixin footer 
    footer.footer 
        .footer__inner.container 
            .footer__top  
                a.footer__logo-link(href="#").accent-text StarBucks 
                .footer__pages
                    ul.footer__pages-list
                        .footer__pages-title Main
                        li.footer__pages-item
                            a(href="") Buy
                        li.footer__pages-item
                            a(href="") More
                    ul.footer__pages-list
                        .footer__pages-title We make
                        li.footer__pages-item
                            a(href="") Process
                    ul.footer__pages-list
                        .footer__pages-title Products
                        li.footer__pages-item
                            a(href="") Cappuccino
                        li.footer__pages-item
                            a(href="") Fast
                        li.footer__pages-item
                            a(href="") Fast
                    ul.footer__pages-list
                        .footer__pages-title Events
                        li.footer__pages-item
                            a(href="") Drinks
                        li.footer__pages-item
                            a(href="") Eat
                    ul.footer__pages-list
                        .footer__pages-title Contacts
                        li.footer__pages-item
                            a(href="") Instagram
                        li.footer__pages-item
                            a(href="") Number
                .footer__scroll-btn
                    svg(width='84' height="84")
                        use(xlink:href="/assets/icons/sprite.svg#arrow")
            .footer__bottom
                .footer__number
                    a(href="tel:+7999999999").accent-text +7999999999
                .footer__insta
                    a(href="#") 
                        img(src="/assets/icons/insta.svg", alt="инстаграм")