mixin newCafe 
    section.new-cafe.container 
        .new-cafe__left 
            h1 New Cafe by 
                span.accent-text StarBucks
            .new-cafe__description Have time to buy the most harmonious drinks in the 
                | new Starbucks coffee and don't forget about the discount!
            .new-cafe__buttons 
                a.new-cafe__select-link(href="#").btn.btn--green Select a coffee 
                a.new-cafe__more-link(href="#").btn.btn--black More
            .new-cafe__statistics
                .new-cafe__statistics-item
                    .new-cafe__statistics-title 9k+
                    .new-cafe__statistics-description Premium Users
                .new-cafe__statistics-item
                    .new-cafe__statistics-title 2k+
                    .new-cafe__statistics-description Happy Customer
                .new-cafe__statistics-item
                    .new-cafe__statistics-title 28+
                    .new-cafe__statistics-description Awards Winning
        .new-cafe__right 