mixin newProducts 
    section.new-products
        .new-products__header.container
            h2.new-products__title New Our <br>
                span.accent-text Products
            .new-products__text Have time to buy the most
                | harmonious drinks in the new Starbucks coffee and don't forget about
                | the discount!  Starbucks coffee and don't forget about the discount!
        .swiper 
            .swiper-wrapper
                .swiper-slide
                        .new-products__card
                            .new-products__card-img.circle.cappuccino
                            .new-products__card-text
                                .new-products__card-title Cappuccino
                                .new-products__card-description Our cafe will serve you quickly
                                .new-product__card-details
                                    .new-products__card-price 7,45$
                                    .new-products__card-amount 330 ml
                                .new-product__card-buy Buy Product
                .swiper-slide
                    .new-products__card
                        .new-products__card-img.circle.fast-brown
                        .new-products__card-text
                            .new-products__card-title Cappuccino
                            .new-products__card-description Our cafe will serve you quickly
                            .new-product__card-details
                                .new-products__card-price 7,45$
                                .new-products__card-amount 330 ml
                            .new-product__card-buy Buy Product
                .swiper-slide
                    .new-products__card
                        .new-products__card-img.circle.fast-yellow
                        .new-products__card-text
                            .new-products__card-title Cappuccino
                            .new-products__card-description Our cafe will serve you quickly
                            .new-product__card-details
                                .new-products__card-price 7,45$
                                .new-products__card-amount 330 ml
                            .new-product__card-buy Buy Product
                .swiper-slide
                    .new-products__card
                        .new-products__card-img.circle.cappuccino
                        .new-products__card-text
                            .new-products__card-title Cappuccino
                            .new-products__card-description Our cafe will serve you quickly
                            .new-product__card-details
                                .new-products__card-price 7,45$
                                .new-products__card-amount 330 ml
                            .new-product__card-buy Buy Product
            .swiper__ui
                .swiper__prev-btn
                    svg(width="37" height="12")
                        use(href="../../assets/icons/sprite.svg#arrow")
                .swiper__prev-btn
                    svg(width="37" height="12")
                        use(href="../../assets/icons/sprite.svg#arrow")
                    