.events {
    &__header {
        display: flex;
        justify-content: end;
        gap: 72px;
    }

    &__title {
        max-width: 392px;
        font-weight: 800;
        font-size: 80px;
        line-height: 109%;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 163%;
        max-width: 457px;
        padding-top: 30px;
    }
    &__top-row,
    &__bottom-row{
        display: flex;
        gap: 24px;
    }
    .swiper{
        &-slide{
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }
        .swiper-slide + .swiper-slide{
            margin-top: 24px !important;
        }
    }
    &__top-card{
        width: 614px;
    }
    &__bottom-card{
        width: 401px;
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 44px;
        background-color: red;
        height: 260px;
        border-radius: 30px;
        padding: 44px 28px 26px;
    }
}
.wrapper-swiper{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
}